@model MyViewModel

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>Tests Completed</th>
            <th>Open Tests</th>
            <th>Joined On</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
       @foreach (Member m in Model.Group.AllMembers)
       {
        <tr>
            <td>@m.User.FirstName @m.User.LastName</td>
            <td>@(m.IsAdmin ? "Admin" : "Member")</td>
            <td>@Model.MemberTests.Where(t => t.MemberId == m.MemberId && t.Completed == true).Count()</td>
            <td>@Model.MemberTests.Where(t => t.MemberId == m.MemberId && t.Completed == false).Count()</td>
            <td>@m.CreatedAt</td>
            <td></td>
        </tr>
       }
    </tbody>
</table>