@model MyViewModel

<div>
    <div class="main-content">
        <div class="d-flex gap-3 align-items-center justify-content-center">
            <h2>@Model.Group.Name</h2>
            <p>Code: <strong>@Model.Group.UniqueCode</strong></p>
        </div>
        <div class="options">
            <div>
                <h3>Members</h3>
                <a href="" class="btn btn-secondary">Add Member</a>
            </div>
            @await Html.PartialAsync("_MemberDisplay", Model)
        </div>



        <hr>


        <div class="options">
            <h3>Tests</h3>
            <a href="/tests/@Model.Group.GroupId/new" class="btn btn-success mx-1">New Test</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    @* <th>Category</th> *@
                    <th>Questions</th>
                    <th>Completed</th>
                    <th>Open</th>
                </tr>
            </thead>
            <tbody>
                @foreach(Test t in Model.Tests)
                {
                    <tr>
                        <td><a href="/tests/@t.TestId/edit">@t.Name</a></td>
                        @* <td>Mechanical</td> *@
                        <td>@t.Questions.Count</td>
                        <td>@Model.MemberTests.Where(test => test.TestId == t.TestId && test.Completed == true).Count()</td>
                        <td>@Model.MemberTests.Where(test => test.TestId == t.TestId && test.Completed == false).Count()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>